@model WebApplication2.Models.Producto

@{
    ViewBag.Title = "detalleOferta";
    Layout = "~/Views/Shared/Productos.cshtml";
}


<div class="container" id="ofertas">


    <br>
    <h2 class="text-center">Detalle Ofertas</h2>
    <br>

    <div class="row justify-content-center">


        <div class="col-sm-10">
            <div class="row justify-content-center">

                <div class="col-sm-11">
                    <div class="row prod ">

                        <div class="col-sm-7 imgp align-self-center">
                            <img src=@Html.DisplayFor(model => model.Imagen) property="image">
                        </div>
                        <div class="col-sm-4 align-self-center">

                            <div class="d-flex">
                                <h5><b>@Html.DisplayFor(model => model.Nombre)</b></h5>
                            </div>
                            <div class="d-flex">
                                <p>@Html.DisplayFor(model => model.Descripcion)</p>
                            </div>
                            <div class="d-flex">
                                <b>Peso:</b> &nbsp;
                                <p>@Html.DisplayFor(model => model.Peso)</p>
                            </div>
                            <div class="d-flex precio">
                                <b>Precio $:</b> &nbsp;
                                <p>@Html.DisplayFor(model => model.Precio)</p>
                            </div>
                            <div class="d-flex">
                                <b>Stock:</b> &nbsp;
                                <p>@Html.DisplayFor(model => model.Stock)</p>
                            </div>
                            @foreach (var item in Model.Vend)
                            {
                                <div class="d-flex">
                                    <b>Vendido por:</b> &nbsp;
                                    <p>@Html.DisplayFor(model => item.Nombre)</p>
                                </div>
                            }
                        </div>
                        <div class="col-sm-1 align-self-start">
                            <a href="/Inicio/ofertas" type="button" class="btn btn-sm btn-secondary">Volver</a>
                        </div>


                    </div>

                </div>

            </div>
        </div>

    </div>
</div>


