@model WebApplication2.Models.Vendedor

@{
    ViewBag.Title = "detalleVendedor";
    Layout = "~/Views/Shared/Productos.cshtml";
}


<div class="container" id="ofertas">

    <br>
    <h2 class="text-center">Detalle Vendedor</h2>
    <br>

    <div class="row justify-content-center">

        <div class="col-sm-11">
            <div class="row prod ">

                <div class="col-sm-6 imgp align-self-center">
                    <img src="https://cdn-icons-png.flaticon.com/512/709/709722.png">
                </div>
                <div class="col-sm-5 align-self-center">

                    <div class="d-flex">
                        <h5><b>@Html.DisplayFor(model => model.Nombre)</b></h5>
                    </div>
                    <div class="d-flex">
                        <p>@Html.DisplayFor(model => model.Apellidos)</p>
                    </div>
                    <div class="d-flex precio">
                        <b>Num Id:</b> &nbsp;
                        <p>@Html.DisplayFor(model => model.Identificacion)</p>
                    </div>
                    <div class="d-flex precio">
                        <b>Telefono:</b> &nbsp;
                        <p>@Html.DisplayFor(model => model.Telefono)</p>
                    </div>
                    <div class="d-flex precio">
                        <b>Dirección:</b> &nbsp;
                        <p>@Html.DisplayFor(model => model.Direccion)</p>
                    </div>
                    <div class="d-flex">
                        <b>Correo:</b> &nbsp;
                        <p>@Html.DisplayFor(model => model.Correo)</p>
                    </div>
                    <div class="d-flex">
                        <p>Cultivo productos de la canasta familiar libres de transgenicos y quimicos</p>
                    </div>

                </div>

            </div>

        </div>

    </div>
</div>